/data/
/modelServerandTraining/PrismaTraining/data/Preprocessed Data/
/modelServerandTraining/PrismaTraining/data/TB Chest Radiography Database/
/modelServerandTraining/PrismaTraining/outputs/*
!/modelServerandTraining/PrismaTraining/outputs/.gitkeep
/modelServerandTraining/PrismaServer/models/*
!/modelServerandTraining/PrismaServer/artifacts/.gitkeep
**/*.pt
**/*.pth
**/*.ckpt
**/*.onnx
**/*.npy
**/*.npz
**/*.faiss
**/*.index
**/tensorboard/
**/__pycache__/
**/*.pyc
**/*.pyo
/modelServerandTraining/GemmaTraining/dataPrep/data/*
/modelServerandTraining/GemmaServer/models/*
